body{
    background-color: #191a2b;
    color: white;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -2.5cm;
}
ul li{
    list-style: none;
}
.wow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a{
    width: 500px;
    background-color: #191a2b;
    border-color: #191a2b;
    margin-top: 5cm;
    background-image: url(color.png);
    background-repeat: no-repeat;
    background-size: 93%;
}
.b{
    width: 500px;
    background-color: #191a2b;
    border-color: #191a2b;
    margin-top: 0cm;
    background-image: url(color.png);
    background-repeat: no-repeat;
    background-size: 82%;
}
.c{
    width: 500px;
    background-color: #191a2b;
    border-color: #191a2b;
    margin-top: cm;
    background-image: url(color.png);
    background-repeat: no-repeat;
    background-size: 57%;
}
.d{
    width: 500px;
    background-color: #191a2b;
    border-color: #191a2b;
    margin-top: 0cm;
    background-image: url(color.png);
    background-repeat: no-repeat;
    background-size: 27%;
}
.h{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -6.7cm;
    margin-right: 10.9cm;

}
h3{
    margin-top: 1cm;
}
h4{
    margin-top: 0.8cm;
}
h5{
    margin-top: 1.3cm;
}
button{
    display: flex;
    flex-direction: column;
    margin-left: 12.5cm;
    position: relative;
    bottom: 6.8cm;
    margin-top: 1cm;
    background-color: #191a2b;
    color: white;
}
@media(max-width:900px){
    .h{
        margin-right: 9cm;
    }
}